{% extends 'layout.html' %}
{% load bootstraptags %}
{% load ants %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'ants/css/antspecies_list.css' %}?v=7">
{% endblock %}
{% block content %}
    {% if page_obj %}
        <p class="lead"><b>{{ total_objects }}</b> ant {{ taxonomic_rank_type_lower }} found</i></p>
        {% if not is_print and page_obj.paginator.num_pages > 1 %}
            {% bs_pagination page_obj request %}
        {% endif %}
        <table id="antTable" class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    {% block table_header %}{% endblock %}
                </tr>
            </thead>
            <tbody id="antTableBody">
                {% for obj in page_obj %}
                <tr style="cursor:pointer">
                    <td style="width:300px;">
                        {% if taxonomic_rank_type_lower == 'species' %}
                            <a href="{% url 'ant_detail' obj.taxonomic_rank_slug %}">{{ obj.taxonomic_rank_name }}</a>
                            {% if obj.forbidden_in_eu %}
                                <span class="badge bg-danger ms-1" title="{% trans 'Forbidden Ant Species (EU)' %}"><i class="bi bi-ban"></i> EU</span>
                            {% endif %}
                        {% else %}
                            <a href="{{ obj.taxonomic_rank_name | antwiki_url }}" target="blank">{{ obj.taxonomic_rank_name }}</a>
                        {% endif %}
                    </td>
                    {% block table_column %}{% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not is_print and page_obj.paginator.num_pages > 1 %}
            {% bs_pagination page_obj request %}
        {% endif %}
    {% else %}
        {% if country or sub_region %}
            {% with 'No ant '|add:taxonomic_rank_type_lower|add:' found!' as alert_text %}
                {% bs_alert 'warning' alert_text %}
            {% endwith %}
        {% else %}
            {% bs_alert 'info' 'Start by selecting a country.' %}
        {% endif %}
    {% endif %}
    {% if is_print %}
    <script>window.addEventListener('load', () => window.print());</script>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'ants/js/antfilter.js' %}"></script>
{% endblock %}