{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "ants/css/antspecies_list.css" %}?v=2">
{% endblock %}
{% block content %}
    {% if ants %}
        <div class="input-group ant-search">
            <div class="input-group-prepend">
            <div class="input-group-text search-icon">⌕</div>
            </div>
            <input type="text" class="form-control" id="antSearchInput" placeholder="Search">
        </div>
        <table id="antTable" class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Species name' %}</th>
                    {% block table_header %}{% endblock %}
                </tr>
            </thead>
            <tbody id="antTableBody">
                {% for ant in ants %}
                <tr style="cursor:pointer">
                    <td style="width:300px;">
                        <a href="{% url 'ant_detail' ant.slug %}">{{ ant }}</a>
                    </td>
                    {% block table_column %}{% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="noSpeciesFoundWarning" class="alert alert-warning" role="alert">
            No ant species found.
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static "ants/js/antfilter.js" %}"></script>
{% endblock %}