{% extends 'layout.html' %}
{% load bootstraptags %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'ants/css/antspecies_list.css' %}?v=2">
{% endblock %}
{% block content %}
    {% if page_obj %}
        <p class="lead"><b>{{ total_objects }}</b> ant species found</i></p>
        {% if page_obj.paginator.num_pages > 1 %}
            {% bs_pagination page_obj request %}
        {% endif %}
        <table id="antTable" class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    {% block table_header %}{% endblock %}
                </tr>
            </thead>
            <tbody id="antTableBody">
                {% for ant in page_obj %}
                <tr style="cursor:pointer">
                    <td style="width:300px;">
                        <a href="{{ ant.antwiki_url }}" target="blank">{{ ant }}</a>
                    </td>
                    {% block table_column %}{% endblock %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page_obj.paginator.num_pages > 1 %}
            {% bs_pagination page_obj request %}
        {% endif %}
    {% else %}
        {% if country or sub_region %}
            {% bs_alert 'warning' 'No Ant species found!' %}
        {% else %}
            {% bs_alert 'info' 'Start by selecting a country.' %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'ants/js/antfilter.js' %}"></script>
{% endblock %}