{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'Species name' %}</th>
            {% block table_header %}{% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for antspecies in object_list %}
        {% url 'ant_species_detail' antspecies.slug as ant_url %}
        <tr style="cursor:pointer">
            <td style="width:300px;">
                <a href="{% url 'ant_detail' antspecies.slug %}">{{ antspecies }}</a>
            </td>
            {% block table_column %}{% endblock %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning">
        <strong>{% trans 'No ants found' %}!</strong>
    </div>
{% endif %}
{% endblock %}