<li>   
    <div class="country-container">
        <a href="{% url "country" country.code %}">{{ country.name }}</a>
        <a class="region-toggle-button collapsed" href="#regions-{{country.code}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
            </a>
    </div>
    {% if regions %}
        <ul id="regions-{{country.code}}" class="collapse">
            {% for region in regions %}
                <li><a href="{% url "region" country.code region.code %}">{{ region.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</li>