{% load i18n %}
{% load static %}
<div class="ant-size-container">
    <h5>{% trans header %}</h5>
    {% if size_min and size_max %}
    <div class="ant-size-body-container">
        <div class="min-max-container">
            <div class="size-th">
                Min
            </div>
            <div class="size-img">
                <img src="{% static 'ants/img/ant.svg' %}" style="width: {{ min_size_img  }}mm;">
            </div>
            <div class="size-footer">
                {{ size_min }} mm
            </div>
        </div>
         <div class="min-max-container">
            <div class="size-th">
                Max
            </div>
            <div class="size-img">
                <img src="{% static 'ants/img/ant.svg' %}" style="width: {{ max_size_img  }}mm;">
            </div>
            <div class="size-footer">
                {{ size_max }} mm
            </div>
        </div>
    </div>
    {% else %}
    <p>{% trans 'No information' %}.</p>
    {% endif %}
</div>