{% load thumbnail %}
{% if main_image is not None %}
    <figure class="figure">
    {% thumbnail main_image.image_file "1280" crop="center" as im %}
        <a href="{{ main_image.image_file.url }}">
            <img class="figure-image img-fluid rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ main_image.alt }}">
        </a>
    {% endthumbnail %}
        <figcaption class="figure-caption">
            {{ main_image.caption }}
            {% if main_image.source_url %}
                Source: <a href="{{ main_image.source_url }}" target="blank_" rel="noopener">
                    {% if main_image.source_caption %}
                        {{ main_image.source_caption }}
                    {% else %}
                        {{ main_image.source_url }}
                    {% endif %}
                </a>
            {% endif %}
        </figcaption>
    </figure>
{% endif %}