{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% load ants %}
{% block meta %}
    <meta name="description" content="{% trans 'Detailed information for ant species ' %}{{ object.name }}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "ants/css/antspecies_detail.css" %}?v=5">
{% endblock %}
{% block content %}
<h1 class="taxonomy">{{ object.name }}
    {% if user.is_staff %}
    <small><a title="{% trans 'Edit species' %}" href="{% url 'admin:ants_antspecies_change' object.id %}"><i class="fas fa-edit text-primary"></i></a></small>
    {% endif %}
</h1>
{% if object.information_complete == False %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% trans 'Species information is not complete yet!' %}
    </div>
{% endif %}
<section class="ant-detail-section">
    <h2>{% trans 'Taxonomy' %}</h2>
<span class="taxonomy">
    {% if object.genus is not None %}
        {% if object.genus.sub_family.family %}
            {{ object.genus.sub_family.family }} 🡺
        {% endif %}
        {% if object.genus.sub_family %}
            {{ object.genus.sub_family }} 🡺
        {% endif %}
        {{ object.genus }} 🡺
        {{ object.name }}</span>
    {% else %}
        {{ DEFAULT_NONE_STR }}
    {% endif %}
</section>
<section class="ant-detail-section">
    <h2>{% trans 'General information' %}</h2>
    <table class="ant-detail-info-table">
        <tr>
            <th>
                {% trans 'Colony structure' %}:
            </th>
            <td>
                {{ object.colony_structure_str }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Worker polymorphism' %}:
            </th>
            <td>
                {{ object.worker_polymorphism|yesno:"Yes,No,No information." }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Nuptial flight months' %}:
            </th>
            <td>
                {{ object.flight_months_str }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Colony founding' %}:
            </th>
            <td>
                {{ object.get_founding_display|format_value }}
            </td>
        </tr>
        <tr>
            <th>
                Links:
            </th>
            <td>
                <a target="_blank" href="http://www.antwiki.org/wiki/{{ object.name_underscore }}">AntWiki</a>
            </td>
        </tr>
    </table>
</section>
<section class="ant-detail-section">
    {% include 'ants/antspecies_detail/antspecies_detail_keeping_parameters.html' %}
</section>
<section class="ant-detail-section">
    <h2>{% trans 'Further information' %}</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#distribution" role="tab">{% trans 'Distribution' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#names" role="tab">{% trans 'Names' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sizes" role="tab">{% trans 'Sizes' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#flightFrequency" role="tab">{% trans 'Flight frequency' %}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    {% include 'ants/antspecies_detail/antspecies_detail_names.html' %}
    {% include 'ants/antspecies_detail/antspecies_detail_sizes.html' %}
    {% include 'ants/antspecies_detail/antspecies_detail_distribution.html' %}
    {% include 'ants/antspecies_detail/antspecies_detail_flight_frequency.html' %}
</div>
</section>
{% endblock %}
{% block script %}
    <script src="{% static 'ants/js/vendor/Chart.bundle.min.js' %}"></script>
    <script>
        var chartData = {% if flight_frequency %}{{ flight_frequency|safe }}{% else %}null{% endif %};
        if(chartData) {
            window.onload = function() {
                chartCtx = document.getElementById("flightFrequencyChart").getContext("2d"); 
                var myBarChart = new Chart(chartCtx, {
                    type: 'bar',
                    "data":{
                        "labels":[
                            "January",
                            "February",
                            "March",
                            "April",
                            "May",
                            "June",
                            "July",
                            "August",
                            "September",
                            "October",
                            "November",
                            "December"],
                        "datasets":[{
                            "label": "Flight frequency",
                            "data": chartData,
                            "fill":false,
                            "backgroundColor":"#4169E1",
                        }]},
                    "options":{
                        "scales":{
                            "yAxes":[{
                                "ticks":{
                                    "beginAtZero":true,
                                    "stepSize": 1
                                }
                            }]
                        },
                        "legend": {
                            display: false
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}