{% load i18n %}
{% load static %}
{% load ants %}
<div class="tab-pane active" id="distribution" role="tabpanel">
    {% if countries %}
    <ul>
        {% for country in countries %}
        <li>
            <a href="{% url "country" country.code %}">{{ country.name }}</a>
            {% if regions and country.code in regions %}
            <ul>
                {% for region in regions|get_item:country.code %}
                <li><a href="{% url "region" country.code region.code %}">{{ region.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans 'No information' %}.</p>
    {% endif %}
</div>