{% extends 'layout.html' %}
{% load i18n %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "ants/css/antspecies_detail.css" %}?v=1">
{% endblock %}
{% block content %}
<h1 class="taxonomy">{{ object.name }}</h1>
<section class="ant-detail-section">
    <h2>{% trans 'Taxonomy' %}</h2>
<span class="taxonomy">
    {% if object.genus is not None %}
        {% if object.genus.sub_family.family %}
            {{ object.genus.sub_family.family }} 🡺
        {% endif %}
        {% if object.genus.sub_family %}
            {{ object.genus.sub_family }} 🡺
        {% endif %}
        {{ object.genus }} 🡺
        {{ object.name }}</span>
    {% else %}
        {% trans 'No information' %}
    {% endif %}
</section>
<section class="ant-detail-section">
    <h2>{% trans 'General information' %}</h2>
    <table class="ant-detail-info-table">
        <tr>
            <th>
                {% trans 'Colony structure' %}:
            </th>
            <td>
                {{ object.colony_structure_str }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Worker polymorphism' %}:
            </th>
            <td>
                {{ object.worker_polymorphism|yesno:"Yes,No,No information." }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Nuptial flight months' %}:
            </th>
            <td>
                {{ object.flight_months_str }}
            </td>
        </tr>
        <tr>
            <th>
                Links:
            </th>
            <td>
                <a target="_blank" href="http://www.antwiki.org/wiki/{{ object.name_underscore }}">AntWiki</a>
            </td>
        </tr>
    </table>
</section>
<section class="ant-detail-section">
    <h2>{% trans 'Keeping parameters' %}</h2>
    <table class="ant-detail-info-table">
        <tr>
            <th>
                {% trans 'Hibernation required' %}:
            </th>
            <td>
                {{ object.get_hibernation_display|default_if_none:"No information." }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Nutrition' %}:
            </th>
            <td>
                {{ object.get_nutrition_display|default_if_none:"No information." }}
            </td>
        </tr>
    </table>
</section>
<section class="ant-detail-section">
    <h2>{% trans 'Further information' %}</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#distribution" role="tab">{% trans 'Distribution' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#names" role="tab">{% trans 'Names' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sizes" role="tab">{% trans 'Sizes' %}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    {% include 'ants/antspecies_detail/antspecies_detail_names.html' %}
    {% include 'ants/antspecies_detail/antspecies_detail_sizes.html' %}
    {% include 'ants/antspecies_detail/antspecies_detail_distribution.html' %}
</div>
{% endblock %}
</section>