{% load i18n %}
<div class="tab-pane" id="names" role="tabpanel">
    <table class="ant-detail-info-table">
        <tr>
            <th>
                {% trans 'Binomial name' %}:
            </th>
            <td class="taxonomy">
                {{ object.name }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Common names' %}:
            </th>
            <td>
                {{ object.common_names_str }}
            </td>
        </tr>
        <tr>
            <th>
                {% trans 'Invalid names' %}:
            </th>
            <td>
                {% for invalid_name in invalid_names %}
                {{ invalid_name.name }}{{ forloop.last|yesno:",&#44;"|safe }}
                {% empty %}
                {% trans 'No information' %}.
                {% endfor %}
            </td>
        </tr>
    </table>
</div>