#map {
    width: 100%;
    height: calc(100vh - 250px);
}

#map.iframe {
    height: calc(100vh - 60px);
}

@media (max-width: 970px) {
    #map {
        height: calc(100vh - 360px);
    }
    #map.iframe {
        height: calc(100vh - 170px);
    }
}

.button-container {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.info-window-label {
    font-weight: bold;
}

.info-window-column {
    min-width: 150px;
}

.info-window-section {
    margin-top: 1rem;
}