#map {
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 1rem;
}

.button-container {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.info-window-label {
    font-weight: bold;
}

.info-window-column {
    min-width: 150px;
}

.info-window-section {
    margin-top: 1rem;
}

#searchContainer {
    margin-left: 0.5rem;
}