#map {
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 1rem;
}

.button-container {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.info-window-container {
    width: 300px;
}

.info-window-section {
    margin-top: 1em;
}

.info-window-label-column {
    width: 100px;
}

.info-window-label {
    font-weight: bold;
}