{% extends "layout.html" %}
{% load i18n %}
{% block content %}
<div class="cards">
  <div class="card margin-left" style="width: 18rem;">
    <i class="fas fa-globe card-icon"></i>
    <div class="card-body">
      <h5 class="card-title">Countries</h5>
      <p class="card-text">{% trans 'Displays a list of ants, which can be found in a specific country or state. The list contains both native and non native species.' %}</p>
    </div>
    <div class="card-footer">
      <a href="{% url "index" %}" class="btn btn-primary">Open</a>
    </div>
  </div>
  <div class="card margin-left" style="width: 18rem;">
    <i class="fas fa-globe card-icon"></i>
    <div class="card-body">
      <h5 class="card-title">Flights</h5>
      <p class="card-text">{% trans 'View all nuptial flights on a map.' %}</p>
    </div>
    <div class="card-footer">
      <a href="{% url "flights_map" %}" class="btn btn-primary">Map</a>
      <a href="{% url "flight_add" %}" class="btn btn-primary">Add</a>
    </div>
  </div>
</div>
{% endblock %}