{% extends 'ants/antspecies_list.html' %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Ants By Country" "index" %}
    {% if country %}
        {% breadcrumb country.name "country" country.code %}   
    {% endif %}
    {% if region %}
        {% breadcrumb region.name "region" region.code %}
    {% endif %}
{% endblock %}
{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
    <form>
        {% include "ants/regions_select.html" with regions=countries code=country_code id='countrySelect' label='Country' url=url %}
        {% include "ants/regions_select.html" with regions=regions code=region_code id='regionSelect' label=regions_type url=url_country %}
    </form>
    {% if ant_list_complete == False %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <strong>{% trans 'Warning!' %}</strong> {% trans 'This list is not complete.' %}
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block script %}
    {{ block.super }}
    <script>
        var countriesUrl = "{{ url }}";
    </script>
    <script src="{% static "ants/js/regions.js" %}"></script>
{% endblock %}