{% load static %}
{% load i18n %}
<div class="card">
    <div class="card-header"> 
        {% trans 'Countries' %}
    </div>
    <div class="card-image-box">
        <img class="card-image rounded" src="{% static 'home/img/world_map.jpg' %}?v=2">
    </div>
    <div class="card-body">
        <p class="card-text">{% trans 'Displays a list of ants, which can be found in a specific country or state. The list contains both native and non native species.' %}</p>
    </div>
    <div class="card-footer">
        <a href="{% url "index" %}" class="btn btn-primary">Open</a>
    </div>
</div>