{% load static %}
{% load i18n %}
<div class="card">
    <div class="card-header"> 
        Flights
    </div>
    <div class="card-image-box">
      <img class="card-image rounded" src="{% static 'home/img/ant_queen.jpg' %}">
    </div>
    <div class="card-body">
      <p class="card-text">{% trans 'Displays a map which contains all nuptial flights recorded or add a new flight.' %}</p>
    </div>
    <div class="card-footer">
      <a href="{% url "flights_map" %}" class="btn btn-primary">{% trans "Map" %}</a>
      <a href="{% url "flight_add" %}" class="btn btn-primary">{% trans "Add" %}</a>
      {% if user.is_staff %}
        <a href="{% url "flights_review_list" %}" class="btn btn-primary">{% trans "Review" %}</a>  
      {% endif %}
    </div>
</div>