{% if regions.count > 0 %}
<div class="mb-3  region-select-div">
    <input type="hidden" class="region-url" value="{{ url }}">
    <label for="{{ id }}" class="form-label">{{ label }}:</label>
    <select id="{{ id }}" name="{{ name }}" class="form-select region-select">
        <option value="" selected>Please select a {{ label }}</option>
        {% for region in regions %}
            {% if region.code %}
                {% if code == region.code %}
                    <option value="{{ region.code }}" selected>{{ region.name }}</option>
                {% else %}
                    <option value="{{ region.code }}">{{ region.name }}</option>
                {% endif %}
            {% else %}
                {% if code == region.id|stringformat:"i" %}
                    <option value="{{ region.id }}" selected>{{ region.name }}</option>
                {% else %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endif %}     
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endif %}