main {
  margin-bottom: 1rem;
}

body.iframe {
  overflow-x: hidden;
}

#return-to-top {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: none;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 5;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
