nav {
    margin-bottom: 1em;
}

.taxonomy {
    font-style: italic;
}

.size-th {
    min-width: 100px;
}

.detail-table-caption {
    font-weight: bold;
    min-width: 200px;
}

.species-name {
    font-style: italic;
}

.vert-sep {
    margin-right: 10px;
}

nav.navbar {
    margin-bottom: 1rem;
}

.ant-sizes-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.ant-size-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.ant-size-body-container {
    display: flex;
    flex: 1 1 auto;
}

.min-max-container {
    display: flex;
    flex-direction: column;
}

.size-img {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.ant-detail-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ant-search {
    margin-bottom: 1em;
}

#noSpeciesFoundWarning {
    display: none;
}

.card-icon {
    font-size: 150px;
    text-align: center;
    margin-top: 10px;
}

#map {
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 1rem;
}

.margin-bottom {
    margin-bottom: 1em;
}

.cards {
    margin-left: -1em;
    display: flex;
}

.margin-left {
    margin-left: 1em;
}

.card-image-box {
    margin: auto;
}

.card-image {
    margin-top: 10px;
}