nav {
    margin-bottom: 1em;
}

.taxonomy {
    font-style: italic;
}

.size-th {
    min-width: 100px;
}

.detail-table-caption {
    font-weight: bold;
    min-width: 200px;
}

.species-name {
    font-style: italic;
}

.vert-sep {
    margin-right: 10px;
}

nav.navbar {
    margin-bottom: 1rem;
}

.ant-sizes-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.ant-size-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.ant-size-body-container {
    display: flex;
    flex: 1 1 auto;
}

.min-max-container {
    display: flex;
    flex-direction: column;
}

.size-img {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.ant-detail-section {
    margin-top: 15px;
    margin-bottom: 15px;
}