<div class="input-group ant-search">
    <div class="input-group-prepend">
    <div class="input-group-text"><i class="fas fa-search"></i></div>
    </div>
    <input type="text" class="form-control" id="antSearchInput" placeholder="Search">
</div>
<h4>Ant Species:</h4>
<ul id="antList">
{% for ant in ants %}
    <li><a href="{% url "ant_detail" ant.slug %}">{{ant.name}}</a></li>
{% endfor %}
</ul>
<div id="noSpeciesFoundWarning" class="alert alert-warning" role="alert">
    No ant species found.
</div>