{% extends "layout.html" %}
{% load static %}

{% block content %}
    <form>
        {% include "regions/regions_select.html" with regions=countries code=country_code id='countrySelect' label='Country' url=url %}
        {% include "regions/regions_select.html" with regions=regions code=region_code id='regionSelect' label=regions_type url=url_country %}
    </form>
    {% if ants is not None %}
        {% if ant_list_complete == False %}
            <div class="alert alert-warning" role="alert">
                This list is not marked as complete!
            </div>
        {% endif %}
        {% include "regions/ant_list.html" with ants=ants %}
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        var countriesUrl = "{{ url }}";
    </script>
    <script src="{% static "regions/js/regions.js" %}"></script>
    <script src="{% static "js/antlist.js" %}"></script>
{% endblock %}