{% if regions.count > 0 %}
<div class="form-group row region-select-div">
    <input type="hidden" class="region-url" value="{{ url }}">
    <label for="{{ id }}" class="col-sm-2 col-form-label">{{ label }}:</label>
    <div class="col-sm-10">
        <select id="{{ id }}" class="form-control region-select">
            {% if not code %}
                <option value="" selected>Please select a {{ label|lower }}</option>
            {% endif %}
            {% for region in regions %}
                {% if code == region.code %}
                    <option value="{{ region.code }}" selected>{{ region.name }}</option>
                {% else %}
                    <option value="{{ region.code }}">{{ region.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}