.size-th {
    min-width: 100px;
}

.species-name {
    font-style: italic;
}

.vert-sep {
    margin-right: 10px;
}

nav.navbar {
    margin-bottom: 1rem;
}

.ant-sizes-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.ant-size-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.ant-size-body-container {
    display: flex;
    flex: 1 1 auto;
}

.min-max-container {
    display: flex;
    flex-direction: column;
}

.size-img {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.ant-detail-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ant-detail-info-table th {
    min-width: 200px;
}

.region-toggle-button {
    color: inherit;
    font-size: 1.6rem;
    line-height: 1.6rem;
    height: 1.7rem;
    width: 1.7rem;
    text-align: center;
}

a.region-toggle-button:hover {
    text-decoration: none;
    color: inherit;
}

.region-toggle-button:not(.collapsed)::after {
    content: "-";
}

.region-toggle-button.collapsed::after {
    content: "+"
}

.country-container {
    display:flex;
    align-items: center;
}

#distribution-list {
    display: inline;
    list-style: none;
    padding-inline-start: initial;
  }
  
#distribution-list li {
display: inline;
}

th {
    width: 220px;
}