{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
        <div class="text-muted d-inline col-sm-8">
            <a href="{% url 'legal' %}">Legal Notice</a> |
            <a href="{% url 'privacy' %}">Privacy Policy</a> |
            <a href="https://github.com/Cictani/antkeeping_info" rel="noopener noreferrer" target="_blank">GitHub</a>
        </div>
        <div class="text-sm-right d-inline col-sm-4">
            <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/xuuQnGt" title="Antkeeping.info on Discord">
                <img src="{% static "img/Discord-Logo-Color.svg" %}" height="45" width="45">
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.antkeeping.wiki" title="Antkeeping.wiki">
                <img src="{% static "img/antkeeping-wiki-logo.png" %}" height="45" width="45">
            </a>
        </div>
        </div>
    </div>
</footer>