{% load static %}
<footer class="footer mt-auto py-2 border-top border-1">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center text-muted d-inline col-sm">
                <a href="{% url 'legal' %}" class="me-1">Legal Notice</a> |
                <a href="{% url 'privacy' %}" class="ms-1">Privacy Policy</a>
            </div>
            <div class="d-flex col-sm justify-content-sm-end">
                <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/xuuQnGt"
                    title="Antkeeping.info on Discord">
                    <img src="{% static  'img/Discord-Logo-Color.svg' %}" height="45" width="45" alt="Discord Logo">
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.antkeeping.wiki" title="Antkeeping.wiki">
                    <img src="{% static  'img/antkeeping-wiki-logo.png' %}" height="45" width="45" alt="Antkeeping.wiki Logo">
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://antcheck.de" title="Antcheck.de">
                    <img src="{% static  'img/antcheck-logo.png' %}" height="45" width="45" alt="Antcheck.de Logo">
                </a>
            </div>
        </div>
    </div>
</footer>