{% load static %} {% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Antkeeping.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}?v=2"> {% block css %} {% endblock %}
</head>

<body>
    <header>
        {% if iframe is None or iframe == False %} {% include "navbar.html" %} {% endif %}
    </header>
    <main role="main" class="container">
        {% block breadcrumbs %} {% clear_breadcrumbs %} {% endblock %} {% block content %} {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <a href="{% url 'legal' %}">Legal Notice</a>
            </span>
        </div>
    </footer>
    <script src="{% static "js/vendor/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.bundle.min.js" %}"></script> 
    {% block script %} {% endblock %}
</body>

</html>