{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title %}Antkeeping.info{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/icons/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icons/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/icons/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/icons/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icons/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/icons/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/icons/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'img/icons/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v=5.3.8">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}?v=1.13.1">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}?v=10">
        {% block css %} {% endblock %}
        {% if iframe %}
        <style>
            body>.container,
            .container-fluid {
                padding: 0;
            }
        </style>
        {% endif %}
    </head>
    <body {% if iframe %} class="iframe" {% endif %}>
        {% if iframe is None or iframe == False %}
        <header>
            {% include "navbar.html" %}
        </header>
        {% endif %}
        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="bi bi-arrow-up"></i></a>
        <main role="main" {% if iframe %}class="container-fluid" {% else %}class="container" {% endif %}>
            {% include 'messages.html' %}
            {% block content %} {% endblock %}
        </main>
        {% if iframe is None or iframe == False %}
        {% include "footer.html" %}
        {% endif %}
        <!-- JavaScript Bundle with Popper -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}?v=5.3.8"></script>
        <script src="{% static 'js/layout.js' %}?v=2"></script>
        {% block script %} {% endblock %}
    </body>
</html>
