{% extends 'layout.html' %} {% block content %}
<h1>Legal notice of website antkeeping.info</h1>
<h2>Information according to § 5 DDG (German law)</h2>
<h3>Responsible person</h3>
<address>
    Andreas Weggel
    <br> Dahlienweg 2
    <br> 95463 Bindlach
    <br> Germany
</address>
<h3>Contact</h3>
<p><a href="mailto:admin@antkeeping.info">admin@antkeeping.info</a></p>
<h2>Limitation of liability for internal content</h2>
<p>The content of this website has been compiled with care and to the best of my knowledge. However, I cannot assume
    any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p>
<p>Pursuant to § 7 para. 1 DDG, I as the service provider am liable for my own content on these pages in accordance
    with general laws. However, pursuant to §§ 8 to 10 DDG, I am not under obligation to monitor external information
    provided or stored on this website. Once I become aware of a specific infringement of the law, I will immediately
    remove the content in question. Any liability can only be assumed from the point in time at which the infringement
    becomes known to me.</p>

<h2>Limitation of liability for external links</h2>
<p>This website contains links to third-party websites (“external links”). As the content of these websites is not
    under my control, I cannot assume any liability for such external content. The respective provider of the linked
    website is solely responsible for its content. At the time of linking, no infringements of the law were apparent.
    As soon as an infringement becomes known to me, I will immediately remove the link in question.</p>

<h2>Copyright</h2>
<p>Unless otherwise noted, all content on this website is licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener license">Creative Commons Attribution 4.0 International (CC BY 4.0)</a>.
    You are free to share and adapt the content for any purpose, provided you give appropriate credit to Antkeeping.info.</p>
<p>Images and photographs may be licensed under different terms. Where this is the case, the applicable license is indicated directly alongside the image.</p>

<h2>Credits</h2>
<h3>Icons</h3>
<ul>
    <li>
        <a href="https://www.svgrepo.com/svg/528359/list-arrow-down-minimalistic" target="_blank" rel="noopener">List Arrow Down Minimalistic</a>
        by <a href="https://www.svgrepo.com/collection/solar-bold-duotone-icons/" target="_blank" rel="noopener">Solar Icons</a>,
        licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">CC BY 4.0</a>
    </li>
    <li>
        <a href="https://www.svgrepo.com/svg/437376/ant" target="_blank" rel="noopener">Ant</a>
        by <a href="https://github.com/framework7io/framework7-icons" target="_blank" rel="noopener">framework7io</a>,
        licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a>
    </li>
</ul>
{% endblock %}