{% extends 'layout.html' %} {% block content %}
<h1>Legal notice of website antkeeping.info</h1>
<h2>Information according to § 5 DDG (German law)</h2>
<h3>Responsible person</h3>
<address>
    Andreas Weggel
    <br> Dahlienweg 2
    <br> 95463 Bindlach
    <br> Germany
</address>
<h3>Contact</h3>
<p><a href="mailto:admin@antkeeping.info">admin@antkeeping.info</a></p>
<h2>Limitation of liability for internal content</h2>
<p>The content of this website has been compiled with care and to the best of my knowledge. However, I cannot assume
    any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p>
<p>Pursuant to § 7 para. 1 DDG, I as the service provider am liable for my own content on these pages in accordance
    with general laws. However, pursuant to §§ 8 to 10 DDG, I am not under obligation to monitor external information
    provided or stored on this website. Once I become aware of a specific infringement of the law, I will immediately
    remove the content in question. Any liability can only be assumed from the point in time at which the infringement
    becomes known to me.</p>

<h2>Limitation of liability for external links</h2>
<p>This website contains links to third-party websites (“external links”). As the content of these websites is not
    under my control, I cannot assume any liability for such external content. The respective provider of the linked
    website is solely responsible for its content. At the time of linking, no infringements of the law were apparent.
    As soon as an infringement becomes known to me, I will immediately remove the link in question.</p>

<h2>Copyright</h2>
<p>The content published on this website is subject to German copyright law. Any reproduction, editing, distribution
    or use beyond the scope of copyright law requires my prior written consent.</p>
{% endblock %}