{% extends 'layout.html' %} {% block content %}
<h1>Legal notice of website antkeeping.info</h1>
<h2>Information according to § 5 TMG (German law)</h2>
<h3>Responsible person</h3>
<address>
    Andreas Weggel
    <br> Dahlienweg 2
    <br> 95463 Bindlach
    <br> Germany
</address>
<h3>Contact</h3>
<p>andreas [dot] weggel [at] gmail [dot] com</p>
<h2>Limitation of liability for internal content</h2>
<p>The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume
    any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p>
<p>Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are
    liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the
    TMG, we as service providers are not under obligation to monitor external information provided or stored on our website.
    Once we have become aware of a specific infringement of the law, we will immediately remove the content in question.
    Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known
    to us.</p>

<h2>Limitation of liability for external links</h2>
<p>Our website contains links to the websites of third parties („external links“). As the content of these websites is not under
    our control, we cannot assume any liability for such external content. In all cases, the provider of information of the
    linked websites is liable for the content and accuracy of the information provided. At the point in time when the links
    were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known
    to us, we will immediately remove the link in question.</p>

<h2>Copyright</h2>

<p>The content and works published on this website are governed by the copyright laws of Germany. Any duplication, processing,
    distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of
    the author or authors in question.</p>
<small><i>Based on:</i>
    <a href="http://www.mustervorlage.net/disclaimer-muster#Englisch">Disclaimer on Mustervorlage.net</a>
</small>
{% endblock %}