{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url "home" %}">
        <img src="{% static "img/logo.svg" %}?v=2" width="30" height="30" alt="" class="d-inline-block align-top">
        &nbsp;Antkeeping.info
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}">{% trans "Home" %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "index" %}">{% trans "Countries" %} <span class="sr-only">(current)</span></a>   
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="flightsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans "Flights" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="flightsDropdown">
                  <a class="dropdown-item" href="{% url "flights_map" %}">{% trans "Map" %}</a>
                  <a class="dropdown-item" href="{% url "flight_add" %}">{% trans "Add Flight" %}</a>
                  {% if user.is_staff %}
                    <a class="dropdown-item" href="{% url "flights_review_list" %}">{% trans "Review" %}</a>
                  {% endif %}
                </div>
              </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <form class="form-inline" action="{% url 'search' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" 
                    placeholder="Search" aria-label="Search" 
                    name="q" minlength=3 required>
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-3">
                {% include "user_on_navbar.html" %}    
            </ul>
        </div>
    </div>
</nav>