{% load static %}
{% load i18n %}
{% load admin_urls %}
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light d-print-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Antkeeping.info logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="antDatabaseDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% trans "Ant Database" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="antDatabaseDropdown">
                        <li><a class="dropdown-item" href="{% url 'taxonomic_ranks_by_region' 'species' %}">{% trans "Ant species by Region" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'taxonomic_ranks_by_region' 'genera' %}">{% trans "Ant genera by Region" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'taxonomic_ranks_by_region' 'tribes' %}">{% trans "Ant tribes by Region" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'taxonomic_ranks_by_region' 'sub-families' %}">{% trans "Ant sub families by Region" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="rankingsDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% trans "Rankings" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="rankingsDropdown">
                        <li><a class="dropdown-item" href="{% url 'top_ant_species_countries' %}">{% trans "Ant species by number of countries" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'top_ant_genera_countries' %}">{% trans "Ant genera by number of countries" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'top_ant_genera_species' %}">{% trans "Ant genera by number of species" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'top_countries_ant_species' %}">{% trans "Countries by number of ant species" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'top_countries_ant_genera' %}">{% trans "Countries by number of ant genera" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'top_authors_ant_species' %}">{% trans "Authors by number of ant species" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nuptialFlightsDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% trans "Nuptial Flights" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="nuptialFlightsDropdown">
                        <li><a class="dropdown-item" href="{% url 'flights_map' %}">{% trans "Reports" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'flights_mating_chart' %}">{% trans "Mating Chart" %}</a></li>
                    </ul>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="staffDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% trans "Staff" %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="staffDropdown">
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin page" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'flights_review_list' %}">{% trans "Review flights" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" rel="noopener noreferrer" href="https://discord.gg/xuuQnGt"
                        title="Antkeeping.info on Discord">
                        Discord (Chat)
                    </a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'search' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                    minlength=3 required>
            </form>
            <ul class="navbar-nav ml-3">
                {% include "user_on_navbar.html" %}
            </ul>
        </div>
    </div>
</nav>