{% extends 'layout.html' %} 
{% block content %}
<h1>Privacy policy of website antkeeping.info</h1>
<h2>Webserver logs</h2>
<h3>What personal data is collected?</h3>
<p>When you access this website, the following information is stored in a server log file:</p>
<ul>
    <li>The page you visited</li>
    <li>Date/Time of visit</li>
    <li>The amount of data sent in Byte</li>
    <li>Source/Link from which you accessed the page</li>
    <li>The web browser you used</li>
    <li>The operating system you used</li>
    <li>Your IP-address</li>
</ul>
<h3>What is this data used for?</h3>
<p>The data is used for two things:</p>
<ol>
    <li>Protection and prevention of attacks against this website like DDoS, Brute force password attacks etc.
        Since it might be neccessary to conduct legal actions it is necessary to store the visitor's IP address.
    </li>
    <li>Creating anonymized web site statistics</li>
</ol>
<h3>How long is your personal data stored?</h3>
<p>The personal data in the server log files is stored for a maximum of two weeks. After that your IP-address is anonymized.</p>
<p>The website statics are stored for an unlimited time. But since all the data used for it was anonymized previously it is not possible to make any connection to your person.</p> 
<h2>Cookies</h2>
<p>This website uses cookies for:</p>
<ul>
    <li>Session management, so users don’t have to enter their password every time they visit an access restricted web page.
    <li>Protection against <a target="_blank" href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Cross-Site-Request-Forgery</a>
</ul>
<h2>What rights do you have?</h2>
<p>You have the right to ask what personal data is stored, request error correction and request deletion of personal data.
To make these requests you have to send an email to:</p>
<p><email>andreas [dot] weggel [at] gmail [dot] com</email></p>
<p>In this email you must proof that you are eligible to get his information. Otherwise your request can't be processed.</p>
<h2>Data sharing with third parties.</h2>
Antkeeping.info does not share any personal data with third parties.
<h2>Third party services used</h2>
<p>This website uses the following google services:</p>
<ul>
    <li><strong>Google Maps</strong> (For displaying an interactive map and for geocoding)</li>
    <li><strong>reCAPTCHA v2</strong> (To protect forms from bots)</li>
</ul>
<p>Please read the
<a href="https://policies.google.com/privacy?hl=en">Google Privacy Policy</a> for more information about what data google collects.</p>
{% endblock %}