{% load i18n %}
{% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="{% url "user_profile" %}">{% trans "Profile" %}</a></li>
            <li><a class="dropdown-item" href="{% url "logout" %}">{% trans "Logout" %}</a></li>
        </div>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}">{% trans "Login" %} <span class="sr-only">(current)</span></a>   
    </li>
{% endif %}