{% extends 'flights/flights.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load recaptcha2 %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add Spotting" "flight_add" %}
{% endblock %}
{% block content %}
    {{ block.super }}
    {% crispy form %}
{% endblock %}
{% block script %}
    {% recaptcha_init %}
    <script src="{% static 'flights/js/flight_form.js' %}?v=2"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initMap">
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "flights/css/flights_add.css" %}">
{% endblock %}
