{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="margin-bottom">
        <a href="{% url 'flight_add' %}" class="btn btn-primary" role="button" aria-pressed="true">{% trans 'Add Flight' %}</a>
    </div>
    <div id="map"></div>
{% endblock %}
{% block script %}
    <script src="{% static 'flights/js/vendor/markerclusterer.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
    <script src="{% static 'flights/js/flights_map.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa1r6t-0BksWEBfsz5w83W5D4M1J1Mp98&libraries=places&callback=initMap">
    </script>
{% endblock %}
