{% extends 'flights/flights.html' %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "flights/css/flights_map.css" %}?v=3">
{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="button-container">
        <div class="form-inline filter-container">
            <select id="yearSelect" class="form-control">
                <option value="all">{% trans "All Years" %}</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if year == current_year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <a href="{% url 'flight_add' %}" id="addSpottingButton" class="btn btn-primary" role="button" aria-pressed="true">{% trans 'Add Spotting' %}</a>
    </div>
    <div id="map"></div>
    <div id="flightInfoModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div id="flightInfoModalContent" class="modal-content">
          </div>
        </div>
      </div>
{% endblock %}
{% block script %}
    <script src="{% static 'flights/js/vendor/markerclusterer.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
    <script src="{% static 'flights/js/flights_map.js' %}?v=5"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initMap">
    </script>
{% endblock %}
