{% extends 'flights/flights.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load recaptcha2 %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add Spotting" "flight_add" %}
{% endblock %}
{% block content %}
    {{ block.super }}
    {% crispy form %}
{% endblock %}
{% block script %}
    {% recaptcha_init %}
    <script src="{% static 'flights/js/vendor/leaflet.js' %}"></script>
    <script src="{% static 'flights/js/vendor/leaflet-bing-layer.min.js' %}"></script>
    <script src="{% static 'flights/js/flight_form.js' %}?v=11" bingApiKey="{{ BING_API_KEY }}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "flights/css/vendor/leaflet/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "flights/css/flights_add.css" %}?v=2">
{% endblock %}
