<div class="modal-header">
    <h5 class="modal-title"><a target="_blank" href="{% url 'ant_detail' flight.ant_species.slug %}">{{flight.ant_species}}</a></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="modalContent" class="modal-body">
        <section>
            <h5>General</h5>
            <table>
                <colgroup>
                    <col class="info-window-column">
                    <col />
                </colgroup>
                <tr>
                    <td class="info-window-label">
                        Spotting type:
                    </td>
                    <td>
                        {{flight.spotting_type_verbose}}
                    </td>
                </tr>
                {% if flight.link %}
                    <tr>
                        <td class="info-window-label">
                            Source:
                        </td>
                        <td>
                            <a target="_blank" href="{{ flight.link }}">Open in new tab</a>
                        </td>
                    </tr>
                {% endif %}
            </table>
            </section>
            <section class="info-window-section">
                <h5>When?</h5>
                <table>
                    <colgroup>
                        <col class="info-window-column">
                        <col />
                    </colgroup>
                    <tr>
                        <td class="info-window-label">
                            Date:
                        </td>
                        <td>
                            {{flight.date}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Time:
                        </td>
                        <td>
                            {{flight.time_str|default_if_none:'-'}}
                        </td>
                    </tr>
                </table>
            </section>
            <section class="info-window-section">
                <h5>Where?</h5>
                <table>
                    <colgroup>
                        <col class="info-window-column">
                        <col />
                    </colgroup>
                    <tr>
                        <td class="info-window-label">
                            Address:
                        </td>
                        <td>
                            {{flight.address}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Latitude:
                        </td>
                        <td>
                            {{flight.latitude}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Longitude:
                        </td>
                        <td>
                            {{flight.longitude}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Habitat:
                        </td>
                        <td>
                            {{flight.habitat_str|default:'-'}}
                        </td>
                    </tr>
                </table>
            </section>
            <section class="info-window-section">
                <h5>Weather</h5>
                <table>
                    <colgroup>
                        <col class="info-window-column">
                        <col />
                    </colgroup>
                    <tr>
                        <td class="info-window-label">
                            Temperature:
                        </td>
                        <td>
                            {{flight.temperature|default_if_none:'-'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Humidity:
                        </td>
                        <td>
                            {{flight.humidity_with_unit|default_if_none:'-'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Wind speed:
                        </td>
                        <td>
                            {{flight.wind_speed|default_if_none:'-'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Rain:
                        </td>
                        <td>
                            {{flight.rain_verbose|default_if_none:'-'}}
                        </td>
                    </tr>
                    <tr>
                        <td class="info-window-label">
                            Sky Condition:
                        </td>
                        <td>
                            {{flight.sky_condition_verbose|default_if_none:'-'}}
                        </td>
                    </tr>
                </table>
            </section>
            <section class="info-window-section">
                <h5>Comment</h5>
                {{ flight.comment | default:'-' }}
            </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>