{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
<meta name="description" content="{% trans 'A table that lists during which months specific ant species have their nuptial flights.' %}">
{% endblock %}
{% block content %}
    <h3>Ant Mating Chart</h3>
    <div id="mating-chart">
        <button v-on:click="toggleFilter()" class="btn btn-light mb-2"><i class="bi bi-funnel"></i></button>
        <div class="row mb-4">
            <div v-if="filterVisible" class="col-md-3 order-md-2 mb-4">
                <mating-chart-filter></mating-chart-filter>
            </div>
            <div class="col-md order-md-1">
                <div v-if="loading" class="spinner-grow text-primary"></div>
                <mating-chart-table v-else-if="filteredFlightEntries.length > 0"></mating-chart-table>
                <div v-else class="alert alert-warning" role="alert">
                    No entries!
                </div>
            </div>
        </div>
        <mating-chart-pagination></mating-chart-pagination>
    </div>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "flights/css/mating_chart.css" %}?v=2">
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" 
    integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.min.js"
    integrity="sha512-Tkxwo8dZEZTmje5QT9uodCqe2XGbZdBXU8uC4nskBt0kwR99Anzkz8JCSMByfoqjLTHcTuIB8fsmED3b9Ljp3g=="
    crossorigin="anonymous"></script>
<script src="{% static 'flights/js/mating_chart.js' %}?v=3"></script>
{% endblock %}